$body-color: #5c6c75;
$head-color: #21313c;
$top-showcase-bg-color: rgb(240, 243, 242);

$body-font-weight: 500;
.h5,
h5 {
    font-size: 1.09375rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $head-color;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    letter-spacing: -.03rem;
}

* {
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: $body-font-weight;
}

.top-showcase {
    background-color: $top-showcase-bg-color;

    .dropdown {
        .btn-group {
            .btn {
                color: $body-color;
                padding: 0;
                background-color: unset;
                border: 0;
                font-weight: $body-font-weight;

            }
            .chevron-down::before {
                font-size: 11px;
            }
            .dropdown-toggle::after {
                // display: inline-block;
                // margin-left: .255em;
                // vertical-align: .255em;
                // content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
                border: 0;
                content: none;
            }
            .flag {
                width: 16px;
                height: 12px;
            }
            ul.dropdown-menu {
                padding: 10px;
                li.flag-menu {
                    font-weight: $body-font-weight;
                    cursor: pointer;
                    padding: 5px 10px;
                    color: $body-color;

                }
                li.flag-menu:hover {
                    background-color: $top-showcase-bg-color;
                    border-radius: 10px;
                    color: $head-color;

                }
            }
        }
    }


}